* {
    padding: 0px;
    margin: 0px
}

body{
    background-color: rgb(241, 241, 241);
}

#cart-total {
    display: block;
    text-align: center;
    margin: 10px 0px;
    color: goldenrod;
}

.header {
    margin: auto;
    width: 90%;
    height: auto;
    background-color: #fff;
    margin: auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 230px);
    grid-template-rows: auto;
    text-align: center;
    justify-content: center;
    gap: 17px;
}

.card-per-row {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-per-row img {
    width: 80%;
    height: 60%;
    object-fit: cover;
}

.remove-btn {
    width: 79px;
    height: 29px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(188, 48, 216);
    color: #fff;
    border: 1px solid rgb(188, 48, 216);
}

.remove-btn:hover {
    border: solid 1px black;
    background-color: rgb(147, 13, 173);
}

.fav-btn {
    margin-left: 30px;
    width: 79px;
    height: 29px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(22, 235, 57);
    background-color: rgb(22, 235, 57);
}

.fav-btn:hover {
    background-color: rgb(9, 175, 37);
    border: 1px solid black;
}

/* <= Proceed button => */
.checkout-btn {
    width: 120px;
    height: 40px;
    display: block;
    justify-items: center;
    margin: 13px 45%;
    font-size: 18px;
    cursor: pointer;
    background-color: yellow;
    border: solid 1px rgb(212, 181, 0);
    border-radius: 8px;
}

.checkout-btn:hover {
    border: solid 2px goldenrod;
    background-color: rgb(207, 207, 13);
}

a {
    text-decoration: none;
}
@media screen and (max-width: 1080px) {
    .cards {
        grid-template-columns: repeat(3, 230px);
    }
    
}

@media screen and (max-width: 780px) {
    .cards {
        grid-template-columns: repeat(2, 230px);
    }
    
}