*{  
  
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    
}

.box1{
    
        background-color: yellow;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-end: span 3;
       height: 1000px;
       position: fixed;
       width: 19.8%;
       
}
.box2{
    border: 1px solid black;
    background-color: black;
    grid-column-start: 3;
    grid-column-end: 11;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.box3{
    
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-end: span 3;
    padding: 25px;
}

#dashboard{
    border: 1px solid teal;
    text-align: right;   
    padding-right: 30px;
    font-size: 2.0vw;
    line-height: 0;
    margin-left: 35px;
    margin-right: 5px;
    margin-top: 15px;
    width: auto;
    color: white;
    background-color: black;
    border-radius: 25px 0 ;
    margin-bottom: 15px;
}

.admin{
    color: rgb(255, 255, 255);

    padding: 10px;
    padding-top: 20px;
    font-size: 1.3vw;
    margin-left: 10px;
}
.logout{
    color: rgb(255, 255, 255);
    
    padding: 10px;
    padding-top: 20px;
    font-size: 1.3vw;
    margin-right: 10px;
}

.catP{
    font-size: 2vw;
}

#category{
   
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#category div{
    
    font-size: 1.7vw;
    font-weight: 500;
    width:70%;
    margin: 20px;
    margin-right: 0px;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 22px 0;
    padding-left: 25px;
}
#category>div:nth-child(1){
    color: black;
    background-color: white;
    border: 3px solid black;
    border-radius: 22px 0;
}

.form{
    border: 1px solid rgb(0, 0, 0);
    background-color: black;
    width: 40%;
    margin: auto;
    margin-top: 30px;
}

.form form{
    text-align: center;
}

.form form input[type='text']{
    width:81%;
    margin-left:0;
    outline: none;
}
.form form input{
    height: 25px;
    
}
.form form input[type='submit']{
    color: rgb(255, 255, 255);
    background-color: black;
    border: 0px;
    height: 29px;
    width: 16%;

}
.container{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px 20px;
    padding: 18px;
}


.card>img{
    width: 70%;
    display: block;
    margin: auto;
}

.card{
    padding:10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.buttonwarpper{
    width:50%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
.page_btn{
    width:55px;
    height: 35px;
    margin: 5px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    border-radius: 8px;
}
/* <div class="card">
<img src="${image}"/>
<p>${title}</p>
<p>${category}</p>
<p>$${price}</p>
<div class="card-button">
   <button data-id="${id}" class="card_edit_btn">Edit</button>
   <button data-id="${id}" class="card_delete_btn">Delete</button>
</div>
</div> */

.card>p:nth-child(2){
    font-size: 20px;
}

.card-button{
    display: flex;
    justify-content: space-around;
    margin: 15px;
}

.card_edit_btn, .card_delete_btn{
   width: 40%;
   font-size: 18px;
   font-weight: 600;
}
.card_edit_btn{
    
    background-color: yellow;
    border: 0;
}

.card_delete_btn{
    background-color: red;
    color: white;
    border: 0;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
  }
  
  .popup form {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: white;
    padding: 20px;
  }
  
  .popup form input[type="submit"] {
    margin-top: 20px;
  }